body {
    background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}

img {
    margin-left: 5px;
    margin-top: 10px;
}

.row {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.white {
    border: 1px solid black;
    width: 10%;
    height: 60px;
    background-color: white;
    float: left;
}

.black {
    border: 1px solid black;
    width: 10%;
    height: 60px;
    background-color: #787878;
    float: left;
}

.clear {
    clear: both;
}

#footer {
    border: solid 1px;
    padding: 10px;
    margin: 10px;
    background-color: azure;
    text-align: center;
}

#container {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: lightyellow;
    text-align: center;
    z-index: 10;
    font-family: 'Bokor', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    z-index: 10;
}
